.Feed{
    .container{
        display: flex;
        gap: 20px;
        overflow: hidden;
        height: 100vh;
        
        
        .leftPart{
            flex: 2;
            overflow: auto;
           
           
        }
        .rightPart{
            margin-top: 10px ; 
            flex: 1;
            
        }

        .title{
            margin-block: 12px;
        }
        .followings{
            display: flex;
           flex-direction: column;
           gap: 10px;
        }
        .suggestions{
           display: flex;
           flex-direction: column;
           gap: 10px;

        }

        
    }

}